@font-face {
  font-family: 'Nunito Sans';
  font-weight: 100;
  src: local('Nunito Sans'), url(../fonts/NunitoSans-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Nunito Sans';
  font-weight: 400;
  src: local('Nunito Sans'), url(../fonts/NunitoSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Nunito Sans';
  font-weight: 700;
  src: local('Nunito Sans'), url(../fonts/NunitoSans-Bold.ttf) format('ttf');
}
body {
  margin: 0;
  padding: 0;
  color: #474C52;
  font-size: 16px;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.container {
  width: 100%;
  max-width: 1224px;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.container-enter-active {
  animation: item-enter 200ms forwards;
}
.container-exit-active {
  animation: item-remove 200ms forwards;
}
@keyframes item-enter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes item-remove {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}
.df {
  display: flex;
}
.jc-c {
  justify-content: center;
}
.content-top-indent {
  margin-top: 30px;
}
.mt-80 {
  margin-top: 80px;
}
.m-12 {
  margin: 12px;
}
.ml-12 {
  margin-left: 12px;
}
.mr-12 {
  margin-right: 12px;
}
.text-center {
  text-align: center;
}
.h1-title {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 400;
  margin-top: 70px;
  margin-bottom: 30px;
}
.text {
  font-size: 16px;
  color: #677382;
  line-height: 1.2em;
}
.central-content {
  width: 100%;
  max-width: 792px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}
.blue {
  color: #881cfe;
}
.no-decoration {
  text-decoration: none;
}
.vertical-sb {
  flex-wrap: wrap;
  justify-content: space-between;
}
.vertical-c {
  flex-wrap: wrap;
  justify-content: center;
}
.align-end {
  align-items: flex-end;
}
.direction-col {
  flex-direction: column;
}
.upload-input {
  display: none;
}
.drop-area {
  width: calc(100% - 48px);
  height: calc(90vh - 56px);
  font-size: 26px;
  margin: 24px;
  border: 2px dashed;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: absolute;
  background: #ccc;
}
.text-input {
  border: 1px solid #e9ffec;
  background-color: #F4F9FF;
  border-radius: 4px;
  box-sizing: border-box;
  color: #212121;
  font-size: 16px;
  padding: 10px;
  width: 612px;
}
.link {
  text-decoration: none;
  color: #881cfe;
}
.button {
  padding: 5px;
  font: 14px Arial;
  cursor: pointer;
  border-radius: 4px;
  height: 48px;
  line-height: 34px;
  width: 384px;
  text-align: center;
  transition: all ease 0.2s;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
}
.button_primary {
  color: #FFF;
  border-color: #881cfe;
  background-color: #881cfe;
}
.button_primary:hover {
  color: #FFF;
  border-color: #5501b6;
  background-color: #c850ff;
}
.button_primary:active {
  color: #FFF;
  border-color: #5501b6;
  background-color: #5501b6;
}
.button_primary:focused {
  color: #FFF;
  border-color: #5501b6;
  background-color: #5501b6;
}
.button_primary:click {
  color: #FFF;
  border-color: #5501b6;
  background-color: #5501b6;
}
.button_primary.disabled,
.button_primary:disabled {
  cursor: not-allowed;
  color: #FFF;
  border-color: #CFD8E2;
  background-color: #CFD8E2;
}
.button_secondary {
  color: #881cfe;
  border-color: #881cfe;
  background-color: #FFF;
}
.button_secondary:hover {
  color: #881cfe;
  border-color: #881cfe;
  background-color: #E8F3FF;
}
.button_secondary:active {
  color: #881cfe;
  border-color: #881cfe;
  background-color: #E8F3FF;
}
.button_secondary:focused {
  color: #881cfe;
  border-color: #5501b6;
  background-color: #E8F3FF;
}
.button_secondary:click {
  color: #FFF;
  border-color: #881cfe;
  background-color: #5501b6;
}
.button_secondary.disabled,
.button_secondary:disabled {
  cursor: not-allowed;
  color: #B3C8DF;
  border-color: #EAF1F8;
  background-color: #EAF1F8;
}
